<div class="auth-page">
  <div class="auth-card">
    <h1>{{ 'auth.registerTitle' | translate }}</h1>

    @if (error()) {
      <div class="error-msg">{{ error() }}</div>
    }

    <form (ngSubmit)="submit()">
      <div class="form-group">
        <label for="username">{{ 'auth.username' | translate }}</label>
        <input id="username" type="text" [(ngModel)]="username" name="username" required />
      </div>

      <div class="form-group">
        <label for="password">{{ 'auth.password' | translate }}</label>
        <input id="password" type="password" [(ngModel)]="password" name="password" required />
      </div>

      <div class="form-group">
        <label for="email">{{ 'auth.email' | translate }}</label>
        <input id="email" type="email" [(ngModel)]="email" name="email" required />
      </div>

      <div class="form-group">
        <label for="firstName">{{ 'auth.firstName' | translate }}</label>
        <input id="firstName" type="text" [(ngModel)]="firstName" name="firstName" />
      </div>

      <div class="form-group">
        <label for="lastName">{{ 'auth.lastName' | translate }}</label>
        <input id="lastName" type="text" [(ngModel)]="lastName" name="lastName" />
      </div>

      <div class="form-group">
        <label for="street">{{ 'auth.street' | translate }}</label>
        <input id="street" type="text" [(ngModel)]="street" name="street" />
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="city">{{ 'auth.city' | translate }}</label>
          <input id="city" type="text" [(ngModel)]="city" name="city" />
        </div>
        <div class="form-group">
          <label for="postalCode">{{ 'auth.postalCode' | translate }}</label>
          <input id="postalCode" type="text" [(ngModel)]="postalCode" name="postalCode" />
        </div>
      </div>

      <button type="submit" class="submit-btn" [disabled]="loading() || !username || !password || !email">
        @if (loading()) { {{ 'auth.registering' | translate }} } @else { {{ 'auth.registerBtn' | translate }} }
      </button>
    </form>

    <p class="auth-link">{{ 'auth.hasAccount' | translate }} <a routerLink="/login">{{ 'auth.loginLink' | translate }}</a></p>
  </div>
</div>
